body {
    margin: 0;
    padding: 0;
    background-image: url("img/background.jpg");
    width: 1280px;
    height: 1060px;
    /*font: "Tahoma";*/
}


/**/

.main {
    background: url("img/white-main.png");
    width: 1018px;
    height: 991px;
    margin: auto;
    position: relative;
}


/*header start*/


/*LOGO start*/

.logo {
    position: absolute;
    top: 11px;
    left: 37px;
}

.logo p {
    position: absolute;
    top: 86px;
    left: 76px;
    color: #128aa7;
    font-size: 12px;
}


/*logo end*/


/*contacts_start*/

.cont {
    width: 124px;
    height: 67px;
    position: absolute;
    top: 11px;
    right: 42px;
    color: #128aa7;
    font-size: 12px;
}


/*contacts_end*/


/*photo*/

.photo img {
    position: absolute;
    top: 176px;
    left: 1%;
    width: 1000px;
    height: 235px;
}

.blue-lines {
    position: absolute;
    top: 175px;
    left: 1%;
}


/*photo_end*/


/*contry*/

.conname {
    position: absolute;
    top: 131px;
    right: 36px;
}

.conname li {
    display: inline-block;
    list-style-type: none;
    margin: 10px;
    color: #128aa7;
    font-size: 12px;
}

.contriesPic {
    position: absolute;
    top: 82px;
    right: 31px;
}

.contriesPic li {
    display: inline-block;
    list-style-type: none;
    margin: 10px;
}


/*contry_end*/


/*Menu*/


/*OLD*/

.menu {
    background: #303030;
    width: 1004px;
    height: 34px;
    border: 1px solid;
    position: relative;
    top: 412px;
    left: 6px;
}

.menu ul {
    position: absolute;
    margin: 0px;
    padding-left: 0;
    float: left;
}

.menu li {
    text-align: center;
    width: 137px;
    height: 34px;
    float: left;
    list-style-type: none;
}

.menu a {
    text-align: center;
    text-decoration: none;
    color: white;
}


/*OLD*/


/*menu_end*/


/*sidebar_start*/

.sidebar {
    float: left;
    width: 210px;
    height: 546px;
    position: absolute;
    top: 465px;
    left: 50px;
}

.news {
    width: 210px;
    height: 546px;
    position: absolute;
    top: 465px;
    right: 50px;
}

.footer p {
    clear: both;
}
